.wrap{
        width: 1200px;
        margin:0 auto;}
    .clearfix:after{
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        line-height: 0;
        content: "";}
    .clearfix{
        zoom:1;}
    .fl{float: left;}
    .fr{float: right;}
    .box1{
        width:380px;
        margin-top: 30px;}
    .box1 .title{       
        font-size: 22px;
        color: #26acce;
        padding-bottom: 9px;
        border-bottom: 2px solid #26acce;}
    .box1 .title span.more{
        float:right;}
    .box1 .title span.more a{
        font-size: 13px !important;
        color: #787878;}
    }
    .box1 .title span.more a img{
        vertical-align: middle;}
    .box1 .title span.more a:hover{
        color: #26acce;}
    /*------服务平台-----[开始]*/
    .fwpt .ct,.lian .intro .ct{
        margin-top:20px;}
    .fwpt .ct .pic,.fwpt .ct .pic img{
        width:380px;
        height:210px;}
    .fwpt .ct .tit,.lian .intro .ct .tit{
        color: #23acce!important;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 2px;}
    .fwpt .ct .abstract,.lian .intro .ct .abstract{
        line-height: 22px;
        color: #616161;
        text-indent: 2em;}
    .fwpt .ct .abstract span.xx,.lian .intro .ct .abstract  span.xx{
        color:#f10000;}
    /*------服务平台-----[结束]*/
    /*------企业服务-政策文件、企业风采-----[开始]*/
    .box2{
        margin-left:30px;}
    .box2 .ct ul li{
        overflow: hidden;
        padding: 12px 0;
        border-bottom: 1px solid #eee;}
    .box2 .ct ul li .time{
        float: left;
        text-align: center;
        margin:3px 0 0 5px;
        padding-right:15px;
        border-right:1px solid #ddd;}
    .box2 .ct ul li .time .date{
        color: #26acce;
        font-size: 22px;}
    .box2 .ct ul li .time .year{
        color: #999;
        font-size: 13px;}
    .box2 .ct ul li .list{
        float: left;
        width: 290px;
        font-size: 16px;
        line-height: 26px;
        margin-left:15px;}
    .box2 .ct ul li .list a{
        color: #333;
        color: #474747;}
    .box2 .ct ul li .list a:hover{
        color:#26acce;}
    /*------企业服务-政策文件、企业风采-----[结束]*/
    
    /*------离岸孵化创新中心-----[开始]*/
    .lian .intro .title,.lian .news .title{
        height: 45px;
        padding:0;
        border-bottom: 3px solid #e7e7e7;}
    .lian .intro .title span.more,.lian .news .title span.more{
        margin-top:9px;}
    .lian .intro .title .column,.lian .news .title .column{
        float: left;
        padding: 0 10px;
        line-height: 42px;
        border-bottom: 3px solid #26acce;}
    .lian .intro{
        width:420px;}
    .lian .intro .ct .pic,.lian .intro .ct .pic img{
        width:420px;
        height:250px;}
    .lian>.fr{
        width:700px;}
    /*------ tab切换 ------[开始]*/
    .slideTxtBox{
        width: 700px;
        margin-top: 30px;}
    .slideTxtBox .hd{
        width: 100%;
        height:45px; 
        line-height:42px; 
        padding-left:0;
        position:relative;  
        font-size: 22px;
        border-bottom: 3px solid #e7e7e7;}
    .slideTxtBox .hd ul{
        float:left;  
        position:absolute;}
    .slideTxtBox .hd ul li{ 
        float:left;
        color: #bbb; 
        padding:0 10px; 
        cursor:pointer;}
    .slideTxtBox .hd ul li.on{ 
        color: #23acce;
        height: 45px;
        border-bottom: 3px solid #23acce;}
    .slideTxtBox .hd span.more{
        float: right;
        line-height: 43px;}
    .slideTxtBox .hd span.more a{
        font-size: 13px !important;
        color: #787878;}
    .slideTxtBox .hd span.more a:hover{
        color: #23acce;}
    
    .slideTxtBox .ct .con{
        height:210px;}
    .slideTxtBox .ct .project{
        padding-top:25px;}    
    .slideTxtBox .ct .project ul li{
        float:left;
        margin-left:17px;}
    .slideTxtBox .ct .project ul li:first-child{
        margin-left:0;}
    .slideTxtBox .ct .project ul li a{
        display:inline-block;
        width:222px;
        height: 168px;}
    .slideTxtBox .ct .project ul li a img{
        width:222px;
        height: 168px;}
    /*------ tab切换 ------[结束]*/
    .lian .news{
        width: 700px;
        margin-top:12px;}
    .lian .news .ct ul li,.slideTxtBox .ct .list ul li{
        padding:0 1px 0 5px;
        height: 51px;
        height: 41px;
        /*font-size: 15px;*/
        border-bottom:1px dashed #dfdfdf;}
    /*.lian .news .ct ul li:hover,.slideTxtBox .ct .list ul li:hover{
        background-color: #fafafa;}*/
    .lian .news .ct ul li a,.slideTxtBox .ct .list ul li a{
        display: inline-block;
        overflow: hidden;
        max-width:500px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333;
        height: 50px;
        line-height: 50px;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        padding-left: 15px;
        background: url(../img/icon_arrow.png) scroll no-repeat center left;}
    .lian .news .ct ul li a:hover,.slideTxtBox .ct .list ul li a:hover{
        color: #23acce;}
    .lian .news .ct ul li span.date,.slideTxtBox .ct .list ul li span.date{
        float: right;
        color: #aaa;
        line-height: 50px;
        color: #515151;
        line-height: 40px;}
    /*------离岸孵化创新中心-----[结束]*/