* {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
a{text-decoration:none;}
div,td,input,body,textarea,select {
	word-break:break-word;}
body,form,p {
	margin:0px;
	font-family:Microsoft yahei,arial;}
/* Css Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,img { padding:0;margin:0;}
fieldset,img { border: 0;}
address,caption,cite,code,dfn,em,th,var,i { font-weight:normal; font-style:normal;}
ol,ul,li { list-style: none;}
div,dl,dt,dd,ol,ul,li{ zoom:1;}
caption,th { text-align: left;}
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size:100%;}
q:before,q:after { content:'';}
abbr,acronym { border: 0;}

a{color:#515151;text-decoration:none; outline:none;transition: background-color 0.3s ease-out 0s, color 0.3s ease-out 0s;font-family:Microsoft yahei,arial;}

a:hover {color:#0252a9; text-decoration:none;}
body{
	font-family:Microsoft yahei,arial;
	color:#515151;
	font-size:14px;
	line-height:26px;
	background:#fff;}
html{
	overflow-x:hidden;}
/***全局属性***/
.man,.hed,.mnu,.ban,.fot,.bas,.bac{
	margin:auto;
	width:100%;}
.pth,.com{
	float:left;
	width:100%;}
.yan{
	float:left;
	width:100%;
 	background:url(img/b.jpg) repeat-x;}
.bod{
	width:1200px; /*整体宽度*/
	margin:auto;}
.lft{
	float:left;
	width:215px;}
.rgt{
	float:right;
	width:945px;}
/***分页导航条***/
.gbf {
    width:100%;
    text-align:center;
	padding-top:45px;
	color:#6f6f6f;
	float:left;
	margin:40px 0;
	border-top:1px solid #b1b1b1
;}
.gbf img {
	vertical-align:middle;}
.gbf  .n,.gbf  .h {
    width:25px;
	line-height:25px;
	height:25px;
	text-align:center;
	display:inline-block;
	margin-left:5px;}
.gbf  .n {
	color:#fff; /*常态色*/
	background:#777
;}
.gbf  .h {
	color:#fff; /*重点色*/
	background:#23acce;}
/***订购部分按钮***/
.odr_add{
	float:left;
	background:url(img/odr_add.jpg);
	width:127px;
	height:36px;
	cursor:pointer;}
.odr_del{
	float:left;
	background:url(img/odr_del.jpg);
	width:127px;
	height:36px;
	cursor:pointer;}
.odr_end{
	float:left;
	margin-left:8px;
	background:url(img/odr_end.jpg);
	width:127px;
	height:36px;
	cursor:pointer;}
.odr_add input{
	width:210px;
	height:24px;
	margin-top:6px;
	text-align:left;}
